<div class="row justify-content-end">
  <div class="col-7">
    <div class="card my-2 shadow-sm border-0 rounded-3 hover-shadow card-fixed-height px-3">
      <div class="row g-0 h-100">
        <div class="col-md-4 h-100">
          <div class="image-container h-100">
            <i class="fa-solid fa-handshake" style="font-size:96px;"></i>
          </div>
        </div>
        <div class="col-md-8 h-100">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-start mb-2">
              <div class="plan-info">
                <h5 class="card-title fw-bold text-dark mb-1">
                  Session name: <%= session.session_name %>
                </h5>
                <p class="mb-1">Date and time: <%= session.date_time + 9.hours %></p>
                <% if session.with_trainer %>
                  <p class="mb-1">With-trainer-session</p>
                <% else %>
                  <p class="mb-1">Solo-session</p>
                <% end %>
              </div>
              <div class="see-details-button">
                <%= link_to workout_session_path(session) do %>
                  <button type="button" class="btn btn-outline-warning"><i class="fa-solid fa-circle-info"></i></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
