<div class="container my-3">
  <h1>BitchEZ</h1>
  <% @my_clients.each do |client| %>
    <%= link_to client_path(client), class: "text-decoration-none" do %>
      <p>Name: <%= client.last_name %> <%= client.first_name %></p>
    <% end %>
    <p>Body Stats</p>
    <ol>
      <% client.body_stats.each do |stat| %>
        <li><%= stat.weight %></li>
      <% end %>
    </ol>
    <hr>
  <% end %>
</div>
