#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: #B15965;
  background-color: white;
  color: #B15965;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
}
