.chat {
  background: white;
  margin-top: 9px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h3 {
    border-bottom: 1px solid $red-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .comments {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_comment {
    border-top: 1px solid $red-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
  .comments {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .comment-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .comment-info.sent {
    align-self: flex-end;
  }

  .comment-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .comment.sent .comment-content {
    align-self: flex-end;
    background: $red;
    color: $light-gray;
  }

  .comment.received .comment-content {
    align-self: flex-start;
    background: $gray-200;
  }

  .comment.sent .info-box {
    justify-content: flex-end;
  }
}

// #comment_content, #question_user_question {
//   border-radius: 20px;
//   font-size: 16px;
//   outline: none;
//   width: 100%;
//   box-sizing: border-box;
//   transition: box-shadow 0.2s;
// }
