.exercise-name {
  width: 100%;
  min-height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

// .exercise-image {
//   min-height: 45%;
// }

.exercise-info {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
