.mobile-nav {
  background: $danger;
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  border: none;
  transform: translate3d(0, 0, 0);
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
  backface-visibility: hidden;

  &:hover {
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(-2px) scale(1.5);
  }
}
