.navbar-lewagon {
  justify-content: space-between;
  background: $danger;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.avatar-toggler {
  border: none;
  padding: 0;
  background: none;
  box-shadow: none;
}

/* Custom focus style for accessibility */
.avatar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 3px #FFFFFF8C; /* circular glow */
  border-radius: 50%; /* ensures focus ring follows the circle */
}
