<div class="container my-3">
  <ol>
    <% @exercises.each do |exercise| %>
      <hr>
      <li>
        <h2><%= exercise.name %></h2>
        <% unless exercise.equipment.blank? %>
          <h5><%= exercise.equipment%></h5>
        <% else %>
          <h5>No equipment</h5>
        <% end %>
        <% unless exercise.main_muscles.blank? %>
          <h5><%= exercise.main_muscles%></h5>
        <% else %>
          <h5>No main muscles</h5>
        <% end %>
        <hr>
      <% end %>
    </li>
  </ol>
</div>
